.git
.github
.pytest_cache
.venv
venv
__pycache__/
*.py[cod]
mlruns/
src/__pycache__/
tests/__pycache__/

# Frontend exclusions
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
.next/
node_modules/
