# Frontend
NEXT_PUBLIC_API_URL=/api

# MLFlow
MLFLOW_TRACKING_URI=http://mlflow:5000

# Grafana
GF_SECURITY_ADMIN_PASSWORD=admin

# PostgreSQL Database
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=churn_db

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

# Worker
DATABASE_URL=postgresql://user:password@db:5432/churn_db
REDIS_URL=redis://redis:6379/0
